.aboutpage{
}
.aboutpage__content{
    height: 120rem;
    background-color: white;
    justify-content: space-evenly;
    text-align: justify;
    padding: 40px;
}
.aboutpage__footer{
    height: 10rem;
    background-color: 007cc7;
    
}

.header{
    font-size: 30px;
    font-weight: bold;
    color: darkolivegreen;
}