.navlink{
    color: white;
    text-decoration: none;
}
.navigation-buttons{
    /* float: right; */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #12232E;
    padding-bottom: 20px;
}